* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    height: 100%;
    font-family: sans-serif
}

a {
    margin: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s
}

a:focus {
    outline: none !important
}

a:hover {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

h1 {
    padding: 50px 0px 20px 0px;
    font-size: 20px;
}

p {
    margin: 0
}

ul,
li {
    margin: 0;
    list-style-type: none
}

input {
    display: block;
    outline: none;
    min-width: 200px;
    /* border: none !important */
}

textarea {
    display: block;
    outline: none
}

textarea:focus,
input:focus {
    border-color: transparent !important
}

button {
    outline: none !important;
    border: none;
    background: 0 0
}

button:hover {
    cursor: pointer
}

iframe {
    border: none !important
}

.limiter {
    width: 100%;
    margin: 0 auto
}

.main_container {
    width: 100%;
}

.container {
    width: 100%;
}

.container-table {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 16px;
}

.options_container {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background-color: #e2e1e1;
    width: 100%;
    margin-top: 16px;
    padding: 16px 16px;
    flex-direction: row;
}

.create_container {
    border-radius: 8px;
    background-color: #e2e1e1;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    margin-top: 84px;
    padding: 16px 16px;
    flex-direction: column;
}

.chart_container {
    margin-top: 32px;
    display: flex;
    gap: 32px;
    justify-content: center;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 16px;
    margin-bottom: 16px;
}

.dashboard-card {
    width: 160px;
    height: 140px;
    /* background-color: #fff; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 18%;
    padding: 20px;
    text-align: center;
}

.dashboard-card h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

.dashboard-card p {
    font-size: 24px;
    margin-bottom: 0;
}

#chart_container, #chart_container_total{
    background-color: #fff;
    border-radius: 16px;
}

.create {
    padding-top: 0px;
}

.input-form {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.description_input {
    min-width: 432px;
}

.name_input,
.price_input,
.description_input {
    border: solid 1.9px #000000;
    border-radius: 1.3rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #000000;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name_input:focus,
.price_input,
.description_input:focus,
.name_input:valid,
.price_input,
.description_input:valid {
    outline: none;
    box-shadow: 1px 2px 5px rgba(133, 133, 133, 0.523);
    transition: background 4s ease-in-out;
    margin-bottom: 32px;
}

.name_input:hover,
.price_input:hover,
.description_input:hover {
    border: solid 1.9px #000002;
    transform: scale(1.03);
    /* box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.523); */
    /* transition: border-color 1s ease-in-out; */
}

.name_text,
.price_text,
.description_text {
    position: absolute;
    left: 15px;
    /* color: #666666; */
    pointer-events: none;
    transform: translateY(-24px);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image {
    display: block;
    width: 200px;
    cursor: pointer;
    background-color: #fa6400;
    border-radius: 1.3rem;
    padding: 1rem;
}

.image_selection {
    display: none;
}

#submit_btn {
    /* float: right; */
    /* margin-right: 25%; */
    display: block;
    max-height: 60px;
    width: 200px;
    cursor: pointer;
    background-color: #4723D9;
    border-radius: 1.3rem;
    padding: 1rem;
    /* left: 100px */
}

.dropdown_container {
    /* max-height: 80px; */
    display: flex;
    gap: 32px;
}

.buttons {
    display: flex;
    /* justify-content: center; */
    gap: 32px;
}

.wrap-table {
    border-radius: 10px;
    width: 100%;
}

.table {
    overflow-x: auto;
    overflow-y: none;
    border-collapse: collapse;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative
}

table td,
table th {
    border-bottom: 1px solid #ddd;
    padding-left: 8px;
}

table td:first-child {
    min-width: 32px;
    max-width: 128px;
}

table th:first-child {
    min-width: 32px;
    max-width: 128px;
}

table td:last-child {
    text-align: center;
    max-width: 170px;
}

table th:last-child {
    max-width: 170px;
}

table thead tr {
    background-color: #F75D1E !important;
    height: 60px;
}

table tbody tr {
    height: 50px
}

table tbody tr:last-child {
    border: 0
}

table td,
table th {
    text-align: left;
    max-width: 140px;
}

.table-head th {
    font-size: 18px;
    line-height: 1.2;
    font-weight: unset
}

tbody tr {
    font-size: 15px;
    color: black;
    line-height: 1.2;
    font-weight: unset;
    cursor: pointer;

}

.column {
    position: relative;
}

.image_table {
    max-height: 60px;
    max-width: 100px;
    border-radius: 8px;
}

.update {
    /* margin-left: 8px; */
    /* margin-right: 16px; */
    align-items: center;
    background-clip: padding-box;
    background-color: #4723D9;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.25;
    padding: calc(.675rem - 1px) calc(1rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.update:hover,
.update:focus {
    background-color: #4723D9;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.update:hover {
    transform: translateY(-1px);
}

.update:active {
    background-color: #4723D9;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.delete {
    /* margin-right: 8px; */
    /* margin-left: 16px; */
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.25;
    padding: calc(.675rem - 1px) calc(1rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.delete:hover,
.delete:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.delete:hover {
    transform: translateY(-1px);
}

.delete:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.upd_status {
    /* display: inline-block; */
    align-items: center;
    background-clip: padding-box;
    background-color: #4723D9;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.25;
    padding: calc(.675rem - 1px) calc(1rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.upd_status:hover,
.upd_status:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.upd_status:hover {
    transform: translateY(-1px);
}

.upd_status:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.upd_status.hidden {
    display: none;
}

.update.hidden {
    display: none;
}


.dish-image {}

@media screen and (max-width: 992px) {
    table {
        min-width: 746px;
    }

    table tbody tr td {
        margin-bottom: 24px
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-size: 14px;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    tbody tr {
        font-size: 14px
    }
}

/* @media screen and (max-width: 992px) {
    table {
        display: block
    }

    table>*,
    table tr,
    table td,
    table th {
        display: block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 37px 0
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-size: 14px;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    tbody tr {
        font-size: 14px
    }
}

@media(max-width: 576px) {
    .container-table {
        padding-left: 15px;
        padding-right: 15px
    }
} */